@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebar-icon {
        @apply relative flex items-center justify-center
        h-12 w-12 mt-2 mx-auto shadow-lg bg-gray-800 text-green-500 hover:bg-green-600 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left
    }
}

*{
    font-family: 'Be Vietnam Pro', sans-serif;
}

.responsive-text{
    @apply lg:text-6xl md:text-4xl sm:text-3xl text-3xl
}
.green{
    color: #1ED760;
}
.green-btn{
    background-color: #1ED760;
}
.nav--logo{
    color: #fff;
}
.main{
    background: url('./assets/main-banner.svg') no-repeat ;
    background-color: #F46EBE;
}
@media(max-width: 650px){
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 620px){
    .main{
        background-position: right 40.3% bottom -509px, right -542px top -461px;
    }
}
@media (min-width: 768px){
    .main {
        background-size: 2042px;
        background-position: left 54.55% bottom -906px, right -1171px top -781px;
    }
}

@media(min-width: 1200px){
    .main{
        background-position: right -1200px bottom -428px;
    }
}
@media( min-width: 1440px){
    .main{
        background-position: right -1092px bottom -428px;
   }
}

.jump-back{
    background-color: rgb(41, 65, 171);
    background-image: url("https://www-growth.scdn.co/static/home/bursts-mobile.svg");
    background-position: center top 30%;
    background-repeat: no-repeat;
    background-size: 195%;
    
}

@media (min-width: 480px){
    .jump-back {
        background-image: url("https://www-growth.scdn.co/static/home/bursts-tablet.svg");
        background-size: 153%;
        background-position: right 40% center;
        -webkit-box-pack: center;
        justify-content: center;
    }
}

@media (min-width: 1200px){
    .jump-back {
        background-image: url("https://www-growth.scdn.co/static/home/bursts.svg");
        background-size: 175%;
        background-position: 46% 4%;
        -webkit-box-pack: center;
        justify-content: center;
        min-height: 846px;
    }
}